<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">

    <%count=0%>
    <%@userFriends=current_user.following%>
      <% @userFriends.each do |user| %>
          <%if  user.following?(current_user) %>
                  <%count=count + 1 %>

                  <%end%>

                  <%end%>
                  <%=count%>
    Friends
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <%count=@user.followers.count - @user.following.count%>
    <% if  count< 0%>
        <%count=0%>
      <%end%>
    <%=count%>
    Requests
  </a>
</div>
