<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Flat HTML5/CSS3 Login Form</title>
  
      <link rel="stylesheet" href="css/style.css">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

</head>

<body>

  <div class="login-page">
  <div class="form">
    <form class="login-form">
      <h2>Registration</h2>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      <button>create
        <% f.submit "Sign up" %>
      </button>
      <p class="message">Already registered? <a href="http://localhost:3000/users/sign_in">Sign In</a></p>
    </form> 

  </div>
</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  </body>

</html>

<%end%>
