<%= form_for(current_user.active_relationships.find_by(followed_id: @users.id),
             html: { method: :delete }) do |f| %>

  <%= f.submit "Delete Friend", class: "btn btn-primary" %>
<% end %>
