<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<link rel="icon" type="image/png" href="../assets/img/favicon.ico">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>Notes</title>

<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />


  <!-- Bootstrap core CSS     -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Animation library for notifications   -->
  <link href="../assets/css/animate.min.css" rel="stylesheet"/>

  <!--  Light Bootstrap Table core CSS    -->
  <link href="../assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>


  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link href="../assets/css/demo.css" rel="stylesheet" />


  <!--     Fonts and icons     -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
  <link href="../assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
</head>
<body>

<div class="wrapper">
  <div class="sidebar" data-color="azure">

  <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


    <div class="sidebar-wrapper">
          <div class="logo">
              <a href="#" class="simple-text">
                  APP NOTES
              </a>
          </div>

          <ul class="nav">
            <li>
                  <a href="http://localhost:3000/nota">
                      <i class="pe-7s-note2"></i>
                      <p>Notes</p>
                  </a>
              </li>
              <li>
                <%@user = current_user%>
                  <a href="http://localhost:3000/user/<%=@user.id%>">
                      <i class="pe-7s-user"></i>
                      <p>User Profile</p>

                  </a>
              </li>
              <li>
                  <a href="http://localhost:3000/categories">
                      <i class="pe-7s-news-paper"></i>
                      <p>Notes Collections</p>
                  </a>
              </li>
              <li>
                  <a href="http://localhost:3000/user">
                      <i class="pe-7s-science"></i>
                      <p>Search Users</p>
                  </a>
              </li>
              <li>
                  <a href="http://localhost:3000/user/<%=@user.id%>/following">
                      <i class="pe-7s-users"></i>
                      <p>Friends</p>
                  </a>
              </li>
              <li>
                  <a href="http://localhost:3000/user/<%=@user.id%>/followers">
                      <i class="pe-7s-bell"></i>
                      <p>Requests</p>
                  </a>
              </li>
          </ul>
    </div>
  </div>
  <div class="main-panel">
  <nav class="navbar navbar-default navbar-fixed">
          <div class="container-fluid">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                      <span class="sr-only">Toggle navigation</span>

                  </button>
                  <a class="navbar-brand" href="#">Notes</a>
              </div>
              <div class="collapse navbar-collapse">


                  <ul class="nav navbar-nav navbar-right">
                    <%if current_user.admin == true%>
                      <li>
                          <a href="http://localhost:3000/admin">
                                <p>Admin</p>
                            </a>
                        </li>
                      <%end%>

                      <li>
                              <li>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
              </li>
                      </li>
          <li class="separator hidden-lg hidden-md"></li>
                  </ul>
              </div>
          </div>
      </nav>

      <div class="content">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12">
                      <div class="card">
                          <div class="header">
                              <h4 class="title">Others Users</h4>
                          </div>
                          <div class="content table-responsive table-full-width">
                              <table class="table table-hover table-striped">
                                <thead>
                                  <tr>
                                    <th>Email</th>
                                    <th colspan="3"></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% @users.each do |user| %>
                                  <%if user.email != current_user.email%>
                                    <tr>
                                      <td><%= user.email %></td>
                                      <td><%= link_to 'Show', user %></td>
                                    </tr>
                                  <%end%>
                                  <% end %>
                                </tbody>
                              </table>
                              <%= link_to 'Back', welcome_index_url %>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <footer class="footer">
          <div class="container-fluid">
              <nav class="pull-left">
                  <ul>

                  </ul>
              </nav>
          </div>
      </footer>
  </div>
</div>

</body>

  <!--   Core JS Files   -->
  <script src="../assets/js/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Charts Plugin -->
<script src="../assets/js/chartist.min.js"></script>

  <!--  Notifications Plugin    -->
  <script src="../assets/js/bootstrap-notify.js"></script>

  <!--  Google Maps Plugin    -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

  <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="../assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="../assets/js/demo.js"></script>



</html>
