<!DOCTYPE html>
<html lang="en" >

<head>
<link rel="stylesheet" href="../users/css/style.css">


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


  <meta charset="UTF-8">
  <title>Notes</title>
</head>

<body>
  <div class="login-page">
  <div class="form">

    <form class="login-form">
      <h2>Log in </h2>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <button>
        Log in
        <% f.submit "Log in"%>
      </button>
      <p class="message">Not registered? <a href="http://localhost:3000/users/sign_up">Create an account</a></p>

    </form>
  </div>
</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

</body>
<% end %>

</html>
