<!DOCTYPE html>
<html>
  <head>

    <title>Note</title>

    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%if user_signed_in?%>

 
    <%end%>
  </head>

  <body>

    <%= yield %>
  </body>
</html>
