<%= form_with(model: notum, local: true) do |form| %>
  <% if notum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notum.errors.count, "error") %> prohibited this notum from being saved:</h2>

      <ul>
      <% notum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form>
  <div class="form-group">
    <label>Title</label>
    <div class="field" type="text" class="form-control">
      <% form.label :title %>
      <%= form.text_field :title, id: :notum_title,class:'form-control',placeholder:'Write the title of your note' %>
    </div>
    <label>Image</label>
    <div class="field">

      <%= form.file_field :image %>
    </div>

  </div>


  <div class="form-group">
    <label>Content</label>
    <div class="field" type="text" class="form-control" >
      <% form.label :body %>

      <%= form.text_area :body, id: :notum_body,class:'form-control', rows:'3' %>
    </div>

  </div>

  <div class="form-group">
    <label>Categories</label>
    <div class="field" type="text" class="form-control" >
      <%@categories = current_user.Category.all%>
      <%if @categories != nil%>
          <% @categories.each do |category|  %>
            <div class="field">
             <%=check_box_tag "categories[]",category.id %><%=category.name%>
            </div>
          <%end%>
      <%end%>
    </div>

  </div>

  <div class="form-group">
    <label>User shared</label>
    <div class="field" type="text" class="form-control" >
      <%if @userShared != nil%>
          <% @userShared.each do |user|  %>
          <%if current_user.following?(user)  && user.following?(current_user) %>
          <div class="field">
           <%=check_box_tag "userShared[]",user.id %><%=user.email%>
          </div>
          <%end%>
          <%end%>
      <%end%>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<%end%>
